@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F4F4F4;
  /* --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F4F4F4;
    --foreground: #F4F4F4;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Test Söhne';
  overflow-x: hidden;
}
.text-color-black {
  color: #000000;
}
